@keyframes pulse{
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
        transform: scale(1.3);
        opacity: 0.5;
    }
}

.about{
    display: flex;
    flex-direction: row;
    background-color: #0A2850;
    overflow: hidden;
    position: relative;
    padding: 40px;
}

/* paddings have been added 
height has been removed */

.about__circle{
  width: 426px;
  height: 426px;
  background-color:#1878DC;
  border-radius: 50%;
  position: absolute; 
  left: -129px;
  top: -152px;
  z-index: 1
}

/* removed duplicate styles  */

.about__circle_animation_blurred{
    animation: pulse 1.3s infinite ease-in-out;
    z-index: 0;
  }

.about__title{
    z-index: 2;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color: white;
    max-width: 251px;
    position: absolute;
    top: 100px;
    left: 80px;
    margin:0;
}

/* added fallback to font family  */

.about__content{
z-index: 2;
width: 660px;
margin:40px 40px 173px auto;
padding: 0;

font-family: "Noto Serif", "Times New Roman", serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
color: white;
list-style-type: none;
}

/* added fallback to font family  */


.about__paragraph{
}