/* placed style for the block above all other elements */

.form{
    max-width: 385px;
    border: none;
}

/* added fallback for font-family */

.form__fieldset{
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-top: 32px;
    text-align: center;
}

/* added fallback for font-family */

/* added border-radius for button
changed width to 100%
height is removed and paddings added from brief
border color and width is set*/

.form__input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;
    margin-top: 8px;
    margin-bottom: 32px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    border-radius: 4px;
    border: 1px solid #838383;
}

.form__input ::placeholder{
    color: #838383;
}

.form__button{
    width: 100%;
    background-color: #1878DC;
    color:#ffffff;
    border: 0;
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form__checkbox{
    text-align: center;
    margin-top: 32px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
}

/* Added fall-back to font-family */

.form__fieldset-checkbox{
    text-align: center;
    border: none;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.form__button:hover{
    background-color: #3f96f3;
}

.form__label_type_checkbox{
    margin: 0;
    margin-top: auto;
}