/* Added background-repeat and background-position */
.menu{
    background-image: url(../images/background_menu.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 100px;  
}

/* Added fallback for font-family
removed margin-top*/
.menu__title{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal; 
    font-weight: 500; 
    font-size: 44px; 
    line-height: 52px;
    margin: 0 auto 20px auto;
    text-align: center;
    
}

/* Added fallback to font-family */
.menu__subtitle{
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: normal; 
    font-weight: normal; 
    font-size: 20px; 
    line-height: 30px;
    max-width: 780px;
    margin: 0 auto 100px auto; 
    text-align: center; 
}

/* removed margin bottom from menu__cards */

.menu__cards {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}


 /* created a stylesheet for card */