/* Removed height for the recipes block */

.recipes{
    background-image: url(../images/background_recipes.svg);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: #0A2750;
    min-height: 720px;
    max-height: 800px;
    padding: 100px 80px 215px 80px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* Added fallback to the font family */

.recipes__title{
    max-width: 580px;
    margin-top: 0px;
    color: #ffffff;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    margin-bottom: 24px;
}

/* Added fallback to the font family */

.recipes__subtitle{
    max-width: 438px;
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 80px;
    color: #ffffff;
}

.recipes__videos{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-content: center;
    justify-content:center;
    list-style: none;
    padding: 0;
}

.recipes__iframe{
    width: 480px;
    height: 273px;
    border: none;
}

/* added fall back to font family */
/* I've addressed the resetting all default margins via the index.css 
instead of doing it via individual block sheets */

.recipes__video-caption{
    color: #ffffff;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
}


